body {
  margin: auto;
  background: linear-gradient(90deg, #93ec7f 16%, #46ba1d 46%, #a1eea1 85%);
  max-width: 1600px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  /* align-self: center; */
  /* display: block; */
  /* justify-content: center; */
}

.border-gradient {
  border: 20px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to bottom, #176104, #0c0fd1);
}

.fish-gallery {
  justify-self: center;
  background: linear-gradient 90deg, #93ec7f 16%, #46ba1d 46%, #a1eea1 85%;
}

header {
  padding-top: 10px;
  height: 80px;
  color: white;
  text-align: center;
  border-bottom: 2px solid #023d02;
  vertical-align: center;
  letter-spacing: 6px;
  background: linear-gradient(90deg, #075504 1%, #16eb0a 46%, #0e9114 99%);
  padding-left: 2%;
  text-transform: uppercase;
}

.cichlides {
  padding-top: 10px;
  height: 80px;
  color: white;
  text-align: center;
  vertical-align: center;
  letter-spacing: 6px;
  background: linear-gradient(90deg, #075504 1%, #16eb0a 46%, #0e9114 99%);
  padding-left: 2%;
  text-transform: uppercase;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(90deg, #075504 1%, #16eb0a 46%, #0e9114 99%);
  text-transform: uppercase;
  transition: 2s;
  letter-spacing: 1px;
  border-top: 2px solid #0b4e05;
  border-bottom: 2px solid #023d0a;
  height: 37px;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  color: rgba(15, 36, 104, 0.932);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
  border-left: 1px solid #08440b;
  width: auto;
  padding-left: 20px;
}

.main-nav li a:hover:not(.active) {
  text-decoration: space-between;
  transform: scale(1.1);
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: 2px solid #01460d 0.5s;
}

.main-nav li a.active {
  background-color: transparent;
  color: white;
  margin-right: 4px;
}

.main-nav li.right {
  float: right;
}

.li-left {
  margin-left: 20px;
}

.slideshow {
  height: auto;
  background: linear-gradient(90deg, #075504 1%, #16eb0a 46%, #0e9114 99%);
  margin-bottom: 50px;
}

/* Responsive design for images */
div.card {
  border: 1px solid #ccc;
  padding: 5px;
}

div.card img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 15px;
  text-align: center;
}

.gallery {
  height: auto;
  margin-top: 30px;
  margin: 0 0 20px 20px;
  padding: 10px 16px;
  padding-left: 70px;
  width: 100%;
  border: 3px solid green;
  /* justify-content: space-evenly; */
}

.row-card {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

h3 {
  visibility: none;
}

.card {
  background-color: transparent;
  width: 270px;
  height: 350px;
  perspective: 1000px;
  padding: 10px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.25s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
}

.card-front {
  background: linear-gradient(90deg, #3214e9 1%, #0ad7eb 58%, #437be8 99%);
  color: rgba(4, 3, 27, 0.65);
  font-weight: 600;
}

.card-back {
  background: linear-gradient(90deg, #3214e9 1%, #0ad7eb 58%, #437be8 99%);
  color: rgba(4, 3, 27, 0.65);
  transform: rotateY(180deg);
}

.button {
  background: linear-gradient(90deg, #160872 1%, #0ad7eb 58%, #2857b4 99%);
  border-radius: 3px;
  border: #050129;
  margin-top: 50px;
  color: darkblue;
  font-weight: 700;
  text-decoration: solid;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.75s;
  /* z-index: -10; */
}

.pointer {
  cursor: pointer;
}

.button:hover {
  border-bottom: 1px solid darkgreen;
  border-right: 1px solid darkgreen;
  transform: scale(1.05);
  box-shadow: darkgreen;
}

.fish {
  background: linear-gradient(90deg, rgba(50, 20, 233, 0.95) 1%, rgba(10, 215, 235, 0.95) 58%, rgba(67, 123, 232, 0.95) 99%);
  margin-top: 319px;
  display: block;
  cursor: pointer;
  /*display:inline-block;*/
  color: #fff;
  font-size: 1rem;
  border: 1px solid #bbb;
}

.heading-fishes {
  margin-left: 50px;
  padding-left: 50px;
}

.video-angelfish {
  background: linear-gradient(90deg, #075504 1%, #16eb0a 46%, #0e9114 99%);
  height: 700px;
  width: 100vw;
}

.slide {
  width: 1600px;
  height: 350px;
}

iframe {
  width: 1600px;
  height: 53vw;
}

.footer {
  height: 150px;
  background: linear-gradient(90deg, #075504 1%, #16eb0a 46%, #0e9114 99%);
  color: #fff;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.card-slides {
  height: 483px;
  width: 1600px;
}

.slide {
  height: 50vh;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-modal {
  width: 200px;
  height: 200px;
}

/* .aquariums {
  height: auto;
  margin-top: 30px;
  margin: 20px 20px 20px 20px;
  padding: 10px 16px;
  padding-left: 70px;
  width: auto;
} */
.aquarium {
  height: auto;
  width: 1600px;
  background: linear-gradient(90deg, #075504 1%, #16eb0a 46%, #0e9114 99%);
  margin: 10px 0px;
  padding: 10px 0px;
  justify-content: center;
  align-self: center;
  font-size: 85%;
}

.aquarium-card {
  border: 2px solid blue;
  background: linear-gradient(90deg, #3214e9 1%, #0ad7eb 58%, #437be8 99%);
  width: 1444px;
  height: 450px;
  padding: 55px;
  margin: 20px 20px 20px 20px;
  z-index: 2;
  border-radius: 4px;
}

.aquarium-1 {
  padding-top: 0;
  margin-top: 0;
  width: 800px;
  height: auto;
  z-index: 2;
}

.aquarium-1 img {
  float: left;
}

.aquarium-text {
  float: right;
  margin-right: 200px;
  color: #051780;
}

.video-angelfish {
  width: 1349px;
  height: auto;
}

.row-card {
  border: 2px solid blue;
  background: linear-gradient(90deg, #085ecf 3%, #0ad7eb 18%, #437be8 59%);
  width: 1366px;
  height: 350px;
  /* align-items: center;
  text-align: center;
  justify-content: center; */
  padding: 94px;
  margin: 20px 20px 20px 20px;
  z-index: 2;
  border-radius: 4px;
}

@media only screen and (max-width: 500px) {
  .gallery {
    width: 24.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 600px) {
  .gallery {
    width: 49.99999%;
  }
}
@media screen and (max-width: 700px) {
  ul.main-nav li.right,
ul.main-nav li {
    float: none;
  }
}
@media only screen and (max-width: 768px) {
  .gallery {
    width: 100%;
  }

  .video-angelfish {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .gallery {
    width: 100%;
  }

  .video-angelfish {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 1366px) {
  body {
    max-width: 100%;
    margin: 81, 30%;
    width: 81, 30%;
  }

  .aquarium {
    height: auto;
    width: 81, 30%;
    padding: 0;
    margin: 0;
    /* margin: 10px 10px 10px 10px; */
  }

  .aquarium-card {
    border: 2px solid blue;
    background: linear-gradient(90deg, #3214e9 1%, #0ad7eb 58%, #437be8 99%);
    width: 81, 30%;
    height: 450px;
    padding: 30px;
    margin: 81, 30% 81, 30% 81, 30% 81, 30%;
    z-index: 2;
    border-radius: 4px;
  }

  .row-card {
    width: 1300px;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
  }

  .gallery {
    width: 100vw;
  }

  .card {
    width: 240px;
  }

  .slide {
    width: auto;
    height: 350px;
  }

  .video-angelfish {
    width: 1300px;
    height: auto;
  }

  #myVideo {
    width: 100%;
    height: 758px;
  }
}
/* DOES NOT USE CODE */
/* * {
  box-sizing: border-box;
} */

/*# sourceMappingURL=style.css.map */
