* {
  box-sizing: border-box;
}
body {
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(147, 236, 127, 1) 16%,
    rgba(70, 186, 29, 1) 46%,
    rgba(161, 238, 161, 1) 85%
  );
  max-width: 1600px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  align-self: center;
  display: block;
  justify-content: center;
}

header {
  height: 30%;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(7, 85, 4, 1) 1%,
    rgba(22, 235, 10, 1) 46%,
    rgba(14, 145, 20, 1) 99%
  );
  transition: all 2s;
  padding-left: 5%;
  text-transform: uppercase;
}

header:hover {
  transform: scale(1.1);
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(50, 20, 233, 1) 1%,
    rgba(10, 215, 235, 1) 58%,
    rgba(67, 123, 232, 1) 99%
  );
  text-transform: uppercase;
  transition: 2s;
  letter-spacing: 1px;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  color: rgba(255, 255, 255, 0.932);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
}

.main-nav li a:hover:not(.active) {
  text-decoration: space-between;
  transform: scale(1.1);
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.main-nav li a.active {
  background-color: #1132a1e7;
}

.main-nav li.right {
  float: right;
}

.slideshow {
  height: auto;
  background: linear-gradient(
    90deg,
    rgba(7, 85, 4, 1) 1%,
    rgba(22, 235, 10, 1) 46%,
    rgba(14, 145, 20, 1) 99%
  );
  margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
  ul.main-nav li.right,
  ul.main-nav li {
    float: none;
  }
}

/* Responsive design for images */

div.card {
  border: 1px solid #ccc;
  padding: 5px;
}

div.card img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 15px;
  text-align: center;
}

.gallery {
  height: auto;
  margin-top: 30px;
  margin: 0 0 20px 20px;
  padding: 10px 16px;
  padding-left: 70px;
  width: 100%;
  display: ;
  /* justify-content: space-evenly; */
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.card {
  background-color: transparent;
  width: 270px;
  height: 350px;
  perspective: 1000px;
  padding: 10px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.25s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
}

.card-front {
  background: linear-gradient(
    90deg,
    rgba(50, 20, 233, 1) 1%,
    rgba(10, 215, 235, 1) 58%,
    rgba(67, 123, 232, 1) 99%
  );
  color: darkblue;
  font-weight: 600;
}

.card-back {
  background: linear-gradient(
    90deg,
    rgba(50, 20, 233, 1) 1%,
    rgba(10, 215, 235, 1) 58%,
    rgba(67, 123, 232, 1) 99%
  );

  color: darkblue;
  transform: rotateY(180deg);
}

.button {
  background: linear-gradient(
    90deg,
    rgb(22, 8, 114) 1%,
    rgba(10, 215, 235, 1) 58%,
    rgb(40, 87, 180) 99%
  );
  border-radius: 3px;
  border: rgb(5, 1, 41);
  margin-top: 50px;
  color: darkblue;
  font-weight: 700;
  text-decoration: solid;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.75s;
  /* z-index: -10; */
}

.pointer {
  cursor: pointer;
}
.button:hover {
  border-bottom: 1px solid darkgreen;
  border-right: 1px solid darkgreen;
  transform: scale(1.05);
  box-shadow: darkgreen;
}

.fish {
  background: linear-gradient(
    90deg,
    rgba(50, 20, 233, 0.95) 1%,
    rgba(10, 215, 235, 0.95) 58%,
    rgba(67, 123, 232, 0.95) 99%
  );
  margin-top: 319px;
  display: block;
  cursor: pointer;
  /*display:inline-block;*/
  color: #fff;
  font-size: 1rem;
  border: 1px solid #bbb;
}

.heading-fishes {
  margin-left: 50px;
  padding-left: 50px;
}

.video-angelfish {
  background: linear-gradient(
    90deg,
    rgba(7, 85, 4, 1) 1%,
    rgba(22, 235, 10, 1) 46%,
    rgba(14, 145, 20, 1) 99%
  );
  height: 700px;
}

.slide {
  width: 1600px;
  height: 350px;
}

.zone-yellow {
  height: 150px;
  background: linear-gradient(
    90deg,
    rgba(7, 85, 4, 1) 1%,
    rgba(22, 235, 10, 1) 46%,
    rgba(14, 145, 20, 1) 99%
  );
  color: #fff;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.card-slides {
  height: 150px;
  width: 1600px;
}

.slide {
  height: 50vh;
  width: 100%;
}

/* MODAL WINDOW FROM W3SHOOLS */

/* The Modal (background) */
.modal-card {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  align-self: center;
  z-index: 4; /* Sit on top */
  margin: 100px 100px 100px 100px;
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 90vw; /* Full width */
  height: 500px /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: lightblue;
  color: darkblue;
  border-radius: 5px;
  
}

/* Modal Content */
#myModal1 {
  background-color: #fefefe;
  /* width: 600px; */
  margin: 0;
  padding: 10px 10px 10px 10px;
  border: 1px solid #888;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.aquarium {
  height: 1600px;
  width: 1600px;
  background-color: aqua;
  margin: 0;
}

.aquarium-card {
   background: linear-gradient(
    90deg,
    rgba(50, 20, 233, 0.55) 1%,
    rgba(10, 215, 235, 0.25) 58%,
    rgba(67, 123, 232, 0.55) 99%
  );
  width: 1366px;
  height: 506px;
  /* align-items: center;
  text-align: center;
  justify-content: center; */
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin: 20px auto;
  z-index: 2;
  border-radius: 4px;
}

.aquarium-1 {
  padding-top: 0;
  margin-top: 0;
  width: 800px;
  height: auto;
  
  
  z-index: 0;
}

.aquarium-1 img {
  float: left;
}

.aquarium-text {
  float: right;
  margin-right: 200px;
}

@media only screen and (max-width: 700px) {
  .gallery {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .gallery {
    width: 100%;
  }
}

@media only screen and (max-width: 1366px) {
  .gallery {
    width: 100%;
  }
  .video-angelfish {
    width: 100%;
    height: auto;
  }
}
